header {
	z-index: 2;
	position: relative;
	background: #161D2F;

	.container {
		display: flex;
		padding-top: 12px;
		padding-bottom: 55px;
	  }
	  .logo {
		max-width: 172px;
		width: 100%;
		font-weight: 800;
		line-height: 36px;
		font-size: 24px;
	  }
  }
 
  .mobile-container {
	display: flex;
	width: 100%;

	.show {
		display: flex;
	}
	   nav {
		display: flex;
		gap: 45px;
		align-items: center;
		margin: 5px auto 0;
	  }
	  nav a {
		color: #fff;
		text-decoration: none;
	  }
	 nav a:hover {
		color: #3043A9;
	  }
  }
  