<section class="procata">
    <div class="container cata">
        <div class="cata-cont">
            <h2>Become a member of this workout class</h2>              
             <input class="custom-input" type="text" placeholder="Email Address" >
             <button type="button" class="btn">Join Now</button>
        </div>
        <div class="cata-picture"> 
            <img class="fit ti-1" src="assets/img/bruce-mars.png" alt="fit-1">
            <img class="fit ti-2" src="assets/img/singh.png" alt="">
            <img class="fit ti-3" src="assets/img/yogas.png" alt="">
            <img class="fit ti-4" src="assets/img/unsplash.png" alt="">
        </div>
    </div>
</section>