<main class="wrapper home">
        <div class="banner-slide">
            <h6>WELCOME TO THE CLUB</h6>
            <h1>Choose Your Programs, 
                Pick Your Meal,
                Let’s Get Healthy.</h1>
                <p>StayHealty Provides Online Training, and Consultation About Diet and Exercise tailored based on user needs. We will provide a training model that can be accessed anytime and anywhere with the best trainers.</p>
                <div class="btn-row">
                     <button type="button" class="btn">Join Now</button>
                     <button type="button" class="btn btn-us">Contact Us</button>
                </div>  
                <br>
                <img src="assets/img/fon.png" alt="">
        </div>
</main>