<footer class="footer">
    <div class="container">
        <div class="address-column">
            <address>
				<h2 class="stay">StayHealthy</h2>
                <h5>Online Training, and Consultation About Diet and Exercise tailored based on user needs. </h5>
            </address>
            <nav class="footer-social">
                <a href="#" class="social-icon">
					<img src="assets/img/youtube.png" alt="Instagram">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/facebook.png" alt="VK">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/instagram.png" alt="Telegram">
				</a>
            </nav>
        </div>
        <div class="menu-wrapper">
            <div class="footer-column">
                <h5 class="footer-title">Product</h5>
                <nav class="footer-menu">
                    <a href="#">Gym Equipment</a>
                    <a href="#">Suplement</a>
                    <a href="#">Blog</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Explore Us</h5>
                <nav class="footer-menu">
                    <a href="#">FAQ</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Term and Conditions</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Contact</h5>
                <nav class="footer-menu">
                    <a href="#">hi@stayhealthy.com</a>
                    <a href="#">021-123-636</a>
                    <a href="#">stayhealthy.com</a>
                </nav>
            </div>
        </div>
    </div>
	<div class="footer-down">
		<nav>
			<a href="#" class="down-1">© 2021 StayHealty. All rights reserved</a>
		</nav>
	</div>
</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>