<header>
    <div class="container heder">
        <a href="index.html" class="logo">
			<img src="assets/img/Logo.png" class="img-fluid" alt="logo" />
		</a>
        <div class="mobile-container">
            <nav>
                <a href="#">Home</a>
                <a href="#">Program</a>
                <a href="#">Nutritions</a>
                <a href="#">Pricing</a>
                <a href="#">About</a>
            </nav>
            <button type="button" class="btn">Join Now</button>
        </div>  
        <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
				<span class="hamburger-inner"></span>
            </span>
        </button>      
    </div>
</header>

