<section class="">
    <div class="container join">
        <div class="box-join"> 
        <h5>about us</h5>
        <h2 class="join-titl" ><span>Benefits of joining with us </span> </h2>
        </div>
        <div class="join-pod">
            <div class="join-pid">
                <span>
                <h2>5+</h2>
                <h4>Years Of Journey</h4>
            </span>
            </div>
            <div class="join-pid">
                <span class="join-pid">
                <h2>500+</h2>
                <h4>Happy Clients</h4>
                </span>
            </div>
            <div class="join-pid">
                <h2>400+</h2>
                <h4>Dedicated Members</h4>
            </div>

        </div>
        <div class="form">
            <div class="form-row">
                <div class="form-column">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/timer.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>flexible class</h3>
                            <h5 class="advantage-title">you can adapt the class to your busy life very easily
                                Workout everytime and everywhere.</h5>
                        </div>                      
                    </div>
                </div>
                
                <div class="form-column">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/fluent.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>Track Progress</h3>
                            <h5 class="advantage-title">See your Progress and workout features for tracking your healthy.</h5>
                        </div>      
                    </div>
                </div>
                <div class="form-column">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/dumbbell.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>Best Trainers</h3>
                            <h5 class="advantage-title">Our trainers is very profesional, very motivated and funny.</h5>
                        </div> 
                    </div>
                </div>
                <div class="form-column">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/profile.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>Meet New Friends</h3>
                            <h5 class="advantage-title">we have the big classes in the online workout, you can
                            meet our new member for sharing and chill out.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="advantages">
        <div class="swiper" id="advantages">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/timer.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>flexible class</h3>
                            <h5 class="advantage-title">you can adapt the class to your busy life very easily
                                Workout everytime and everywhere.</h5>
                        </div>                      
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/fluent.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>Track Progress</h3>
                            <h5 class="advantage-title">See your Progress and workout features for tracking your healthy.</h5>
                        </div>      
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/dumbbell.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>Best Trainers</h3>
                            <h5 class="advantage-title">Our trainers is very profesional, very motivated and funny.</h5>
                        </div> 
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/profile.png" alt="">
                        </div>
                        <div class="advantage-mi">
                            <h3>Meet New Friends</h3>
                            <h5 class="advantage-title">we have the big classes in the online workout, you can
                            meet our new member for sharing and chill out.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        </div>

    </div>
</section>