<section class="pack">
    <div class="font">
    <div class="container-kes">
        <div class="rates__title">
            <h5>PRICING</h5>
            <h2>CHOOSE YOUR PACKAGE FOR WORKOUT</h2>
        </div>
                <div class="slider-container">
                    <div class="swiper pack-rates">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="rates__item">
                                    <h3 class="rates__item-title">Basic</h3>
                                    <img class="imegs" src="assets/img/rock-demo.png" alt="">
                                    <h4>The Rock</h4>
                                    <ul class="rates__advantages">
                                        <li class="rates__advantages-item">3 Times A Week</li>
                                        <li class="rates__advantages-item">Full Zoom</li>
                                        <li class="rates__advantages-item">PDF Module</li>
                                        <li class="rates__advantages-item">Meal Preparation</li>
                                    </ul>
                                    <div class="mini-kont">
                                    <div class="rates-item-price">Rp500.000<span>/month</span></div>
                                    <button type="button" class="btn now">Workout Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="rates__item">
                                    <h5 class="rates__item-case">Popular</h5>
                                    <h3 class="rates__item-title">Standar</h3>
                                    <img class="imegs" src="assets/img/anna.png" alt="">
                                    <h4>Anna Jane</h4>
                                    <ul class="rates__advantages">
                                        <li class="rates__advantages-item">4 Times A Week</li>
                                        <li class="rates__advantages-item">Full Zoom</li>
                                        <li class="rates__advantages-item">PDF Module</li>
                                        <li class="rates__advantages-item">Meal Preparation</li>
                                        <li class="rates__advantages-item">Suplement</li>
                                    </ul>
                                    <div class="mini-kont">
                                    <div class="rates-item-price">Rp1.000.000<span>/month</span></div>
                                    <button type="button" class="btn now">Workout Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="rates__item">
                                    <h3 class="rates__item-title">Premium</h3>
                                    <img class="imegs" src="assets/img/jack.png" alt="">
                                    <h4>The Rock</h4>
                                    <ul class="rates__advantages">
                                        <li class="rates__advantages-item">4 Times A Week</li>
                                        <li class="rates__advantages-item">Full Zoom</li>
                                        <li class="rates__advantages-item">PDF Module</li>
                                        <li class="rates__advantages-item">Meal Preparation</li>
                                        <li class="rates__advantages-item">Suplement</li>
                                        <li class="rates__advantages-item">DPI+, ASN, SKK</li>
                                        <li class="rates__advantages-item">Gym Equipment</li>
                                    </ul>
                                    <div class="mini-kont">
                                    <div class="rates-item-price">Rp2.000.000<span>/month</span></div>
                                    <button type="button" class="btn now">Workout Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="rates__item">
                                    <h3 class="rates__item-title">Basic</h3>
                                    <img class="imegs" src="assets/img/rock-demo.png" alt="">
                                    <h4>The Rock</h4>
                                    <ul class="rates__advantages">
                                        <li class="rates__advantages-item">3 Times A Week</li>
                                        <li class="rates__advantages-item">Full Zoom</li>
                                        <li class="rates__advantages-item">PDF Module</li>
                                        <li class="rates__advantages-item">Meal Preparation</li>
                                    </ul>
                                    <div class="mini-kont">
                                    <div class="rates-item-price">Rp500.000<span>/month</span></div>
                                    <button type="button" class="btn now">Workout Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="rates__item">
                                    <h5 class="rates__item-case">Popular</h5>
                                    <h3 class="rates__item-title">Standar</h3>
                                    <img class="imegs" src="assets/img/anna.png" alt="">
                                    <h4>Anna Jane</h4>
                                    <ul class="rates__advantages">
                                        <li class="rates__advantages-item">4 Times A Week</li>
                                        <li class="rates__advantages-item">Full Zoom</li>
                                        <li class="rates__advantages-item">PDF Module</li>
                                        <li class="rates__advantages-item">Meal Preparation</li>
                                        <li class="rates__advantages-item">Suplement</li>
                                    </ul>
                                    <div class="mini-kont">
                                    <div class="rates-item-price">Rp1.000.000<span>/month</span></div>
                                    <button type="button" class="btn now">Workout Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="rates__item">
                                    <h3 class="rates__item-title">Premium</h3>
                                    <img class="imegs" src="assets/img/jack.png" alt="">
                                    <h4>The Rock</h4>
                                    <ul class="rates__advantages">
                                        <li class="rates__advantages-item">4 Times A Week</li>
                                        <li class="rates__advantages-item">Full Zoom</li>
                                        <li class="rates__advantages-item">PDF Module</li>
                                        <li class="rates__advantages-item">Meal Preparation</li>
                                        <li class="rates__advantages-item">Suplement</li>
                                        <li class="rates__advantages-item">DPI+, ASN, SKK</li>
                                        <li class="rates__advantages-item">Gym Equipment</li>
                                    </ul>
                                    <div class="mini-kont">
                                    <div class="rates-item-price">Rp2.000.000<span>/month</span></div>
                                    <button type="button" class="btn now">Workout Now</button>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="swiper-pagination swiper-pagination-pack-rates"></div>
                    </div>
                    <div class="swiper-button-prev-pack"></div>
                    <div class="swiper-button-next-pack"></div>
                </div>
    </div>
    </div>
</section>