<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h5>PROGRAMS</h5>
            <h2>We Have a programs to help your workouts</h2>
        </div>
        <div class="slider-container">
            <div class="swiper default-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/img.png" alt="">
                            </div>
                            <h3 class="card-title">Full Body Workout</h3>
                            <div class="card-discription">
                                <h6>By The Rock</h6>
                                <p>You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
                            </div>
                            <a href="#" class="rates__item-button">Check out this program!<img src="assets/img/arrow.png" alt="arrow-right"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/img-2.png" alt="">
                            </div>
                            <h3 class="card-title">Bodyweight Workout</h3>
                            <div class="card-discription">
                                <h6>By Timi Tarner</h6>
                                <p>No need equipments, just your body, your soul, and your spirit. You can do . . .</p>
                            </div>
                            <a href="#" class="rates__item-button">Check out this program!<img src="assets/img/arrow.png" alt="arrow-right"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/img-3.png" alt="">
                            </div>
                            <h3 class="card-title">Dumbell Workout</h3>
                            <div class="card-discription">
                                <h6>By Frank Jane</h6>
                                <p>This is a workout you can do at home just using a set of barbells. The workout is . . .</p>
                            </div>
                            <a href="#" class="rates__item-button">Check out this program!<img src="assets/img/arrow.png" alt="arrow-right"></a>
                        </div>
                    </div>                   
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>