<section class="delivery tot">
    <div class="container_lite">
        <div class="picture">
            <img class="men" src="assets/img/Atas.png" alt="men">
            <div class="pict-box">
                <img src="assets/img/kubok.png" alt="">
                <h5>Discipline</h5>
            </div>
            <img class="woman" src="assets/img/Bawah.png" alt="woman">
            <div class="pict-box box-2">
                <img src="assets/img/kubok-2.png" alt="">
                <h5>Eating Healthy</h5>
            </div>
        </div>

        <div class="title-box">
            <h5>Nutritions</h5>
            <h2>meal preparation for workout</h2>
            <p>Don’t worry we have the best nutritionist for your workout, firstly consult with our experts, we can make your meal preparation based on Total Daily Energy Expenditure.</p>
            <button type="button" class="btn">Join Now</button>
        </div>
    </div>
</section>